.Toolbar {
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  display: flexbox;
  justify-content: left;
  align-items: left;
  text-align: left;
  padding: 0 30px;
  box-sizing: border-box;
  z-index: 70;
}

.text {
  font-size: medium;
  font-weight: 400;
  position: fixed;
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-left: 1300px;
  padding-top: 30px;
  box-sizing: border-box;
  word-spacing: 50px;
  z-index: 80;
}
